 .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 40px;
  }
  
  .selected-text {
    color: #4bcaff;
  }
  
  .nav-menu {
    background-color: #35444f;
    text-align: center;
  }
  
  .nav-menu-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 32px;
    display: inline-block;
    border-left: 1px solid #fff;
    transition: 0.5s;
  }
  
  .nav-menu-item:last-child {
    border-right: 1px solid #fff;
  }
  
  .nav-menu-item:hover {
    background-color: #222f3a;
  }
  
  .main-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .sidebar-menu {
    border: 1px solid #000000;
    width: 25%;
  }
  
  .sidebar-menu-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
    display: block;
    padding: 25px 45px;
    transition: 0.5s;
  }
  
  .sidebar-menu-item:hover {
    color: #000000;
    background: #dbdbdb;
    padding-left: 60px;
  }
  
  .right-side-content {
    width: 70%;
  }
  
  .main-img-container {
    border: 1px solid #000000;
    text-align: center;
    padding: 75px 0;
  }
  
  .main-img {
    transition: 0.5s;
  }
  
  .main-img:hover {
    transform: scale(1.3);
  }
  
  .main-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    margin-top: 35px;
  }

  
  
  .footer {
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-menu-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    text-decoration: none;
    margin-right: 40px;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
  }
  
  .footer-menu-item:last-child {
    margin-right: 0;
  }
  
  .footer-menu-item:hover {
    color: #3181a6;
    border-bottom-color: #3181a6;
  }
  
  .copyright {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin: 0;
  }
